<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="utf-8" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="msapplication-tap-highlight" content="no" />
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
		<meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline'; style-src 'self' 'unsafe-inline'; media-src *" />
		<title>Contacts</title>
		<link rel="stylesheet" type="text/css" href="ionic/css/ionic.min.css"/>
		<link rel="stylesheet" type="text/css" href="swiper/css/swiper.min.css"/>
    	<!--<link href="../src/css/slidingTabs.min.css" rel="stylesheet">-->
		
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
	</head>
	<body>
		<ion-nav-bar class="bar-light">
			<ion-nav-back-button>
				<i class="icon ion-arrow-left-c"></i>后退
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-view >
			
		</ion-nav-view>
	</body>
	<!--<script type="text/javascript" src="cordova.js"></script>-->
	<script src="ionic/js/ionic.bundle.min.js"></script>
	<script src="swiper/js/swiper.min.js"></script>
	<script src="./js/directives/DirectiveModule.js"></script>
	<script type="text/ng-template" id="home.html">
		<ion-view view-title="只二" >
			<ion-nav-buttons side="left">
			    <button class="button button-icon icon ion-ios-person-outline" ng-click="doSomething()">
			      	  
			    </button>
		    </ion-nav-buttons>
		    <ion-nav-buttons side="right">
		    	<button  class="button-icon icon ion-ios-cart-outline cart-icon position-relative"><p >1</p></button>
		    	<button class="button button-icon icon ion-ios-bell-outline "></button>
		    </ion-nav-buttons>
		    <ion-tabs  class="tabs-top tabs-striped" >
		    	<ion-tab title="女装" >
		    		<ion-view ng-controller="girlCtrl">
		    			<div class="bar row" style="position: absolute; top: 93px; padding: 0;">
		    				<div ng-repeat="type in data" ng-click="showOptions(type)" class="col" style="padding:0; height:100%;"><button class=" button-block light-bg icon  icon-right" style="height: 100%; border: none; height: 100%; font-size:16px;">{{type.selection}} <i class="icon ion-ios-arrow-down rotate"></i></button></div>
		    			</div>
		    			<ion-list style="position: absolute; width: 100%; z-index: 9; top:137px" ng-if="showList" >
							<ion-item class="item-divider item-option" ng-repeat="item in options">{{item.type}}</ion-item>
						</ion-list>
						<ion-content style="top:137px" ng-click="hideOptions()">
							<ion-refresher pulling-text="下拉刷新" spinner="ios" on-refresh="onRefresh(4)"></ion-refresher>
							<div class="zhezhao {{zhezhao}}"></div>
							<ion-list>
								<ion-item class="item-image padding" ng-repeat="good in goods" style="width:50%; float: left;">
									<img  alt="商品"  ng-src="{{good.goodsListImg}}" />
									<p>{{good.goodsName}}</p>
									<p style="color: red;">{{good.price*good.discount|currency:"￥"}} <span style="text-decoration: line-through; color: grey;">{{good.price|currency:"￥"}}</span></p>
								</ion-item>
							</ion-list>
							<ion-infinite-scroll ng-if="showInfiniteScroll" spinner="ios" on-infinite="onInfinite()" ></ion-infinite-scroll>
						</ion-content>
		    			
		    		</ion-view>
		    	</ion-tab>
		    	<ion-tab title="推荐" >
		    		<ion-view name="recommend" ng-controller="recoCtrl" >
		    			<ion-content>
		    				<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh(1)"></ion-refresher>
		    				<ion-list>
		    					
		    					<ion-item class="item-image" ng-repeat="item in items">
		    						<img ng-src="{{item.img}}" style="display: block;" class="full-image" />
		    						<div style="height: auto; width: 100%;" >
		    							<swiper></swiper>
		    						</div>
		    						<ion-scroll delegate-handle="" direction="x" scrollbar-x="false" style="overflow: hidden;">
		    							
		    						</ion-scroll>
		    					</ion-item>
		    				</ion-list>
		    				<ion-infinite-scroll on-infinite="fresh()"></ion-infinite-scroll>
		    			</ion-content>
		    		</ion-view>
		    	</ion-tab>
		    	<ion-tab title="卖衣">
		    		<ion-view class="sole-cloth">
		    			<ion-content >
		    				<p class="p1">你只需寄出衣服,余下的都交给我们</p>
		    				<p class="p2">注意啦,只二暂不接受冬装哦</p>
		    				<p class="p3">接受标准</p>
		    			</ion-content>
		    			<ion-footer-bar class="bar-assertive">
		    				<h2 class="title">开始卖衣</h2>
		    			</ion-footer-bar>
		    		</ion-view>
		    	</ion-tab>
		    	
		    	<ion-tab title="童装">
		    		<ion-view ng-controller="childCtrl">
		    			<div class="bar row" style="position: absolute; top: 93px; padding: 0;">
		    				<div ng-repeat="type in data" ng-click="showOptions(type)" class="col" style="padding:0; height:100%;"><button class=" button-block icon  icon-right" style="height: 100%; border: none; height: 100%; font-size:16px;">{{type.selection}} <i class="icon ion-ios-arrow-down rotate"></i></button></div>
		    			</div>
		    			<ion-list style="position: absolute; width: 100%; z-index: 9; top:137px" ng-if="showList" >
							<ion-item class="item-divider item-option" ng-repeat="item in options">{{item.type}}</ion-item>
						</ion-list>
						<ion-content style="top:137px" ng-click="hideOptions()">
							<ion-refresher pulling-text="下拉刷新" spinner="ios" on-refresh="onRefresh(4)"></ion-refresher>
							<div class="zhezhao {{zhezhao}}"></div>
							<ion-list>
								<ion-item class="item-image padding" ng-repeat="good in goods" style="width:50%; float: left;">
									<img  alt="商品" style="width: 50vx; height: 50vx;" ng-src="{{good.goodsListImg}}" />
									<p>{{good.goodsName}}</p>
									<p style="color: red;">{{good.price*good.discount|currency:"￥"}} <span style="text-decoration: line-through; color: grey;">{{good.price|currency:"￥"}}</span></p>
								</ion-item>
							</ion-list>
							<ion-infinite-scroll ng-if="showInfiniteScroll" spinner="ios" on-infinite="onInfinite()" ></ion-infinite-scroll>
						</ion-content>
		    			
		    		</ion-view>
		    	</ion-tab>
		    	
		    	<ion-tab title="一兑一">
		    		<ion-view>
		    			<ion-content>一兑一</ion-content>
		    		</ion-view>
		    	</ion-tab>
		    </ion-tabs>
		</ion-view>
	</script>
	
	<!--<script type="text/javascript" src="js/main.js"></script>-->
	<!--<script type="text/javascript">
		app.initialize();

	</script>-->
	<script>
		var app=angular.module("app",["ionic","DirectiveModule"]);
		app.config(function($stateProvider,$ionicConfigProvider,$urlRouterProvider){
			$ionicConfigProvider.platform.android.tabs.style("standard");
			$ionicConfigProvider.platform.android.tabs.position("standard");
			$ionicConfigProvider.platform.android.navBar.alignTitle("center");
			$urlRouterProvider.otherwise("/home");
			$stateProvider
				.state("home",{
					url:"/home",
					templateUrl:"home.html"
				})
				
		})
		//童装控制器
		.controller("childCtrl",["$scope","$http",function($scope,$http){
			$scope.data={};
			$scope.options=[];
			//显示出来的商品数据
			$scope.goods={};
			//控制选项框是否显示
			$scope.showList=false;
			//控制遮罩层是否显示
			$scope.zhezhao="hide";
			//获取商品信息
			$scope.goodsType="";
			//设置一个变量,用来控制每组需要显示的条目
			$scope.lineNumber=5;
			//设置一个变量，接收classID
			$scope.classID="";
			//设置一个变量,用来决定是否去掉上拉刷新模块,在没有数据之后,去掉该模块
			$scope.showInfiniteScroll=true;
			//上拉加载函数
			$scope.onInfinite=function(){
				$scope.pageCode+=1;
				$http.jsonp("http://datainfo.duapp.com/shopdata/getGoods.php?callback=JSON_CALLBACK",{
					params:{
						"classID":$scope.classID,
						'pageCode':$scope.pageCode,
						linenumber:$scope.lineNumber
					}
				}).success(function(result){
					if(result!=0){
						$scope.goods=$scope.goods.concat(result);
					}else if(result==0){
						$scope.showInfiniteScroll=false;
					}
				})
				$scope.$broadcast("scroll.infiniteScrollComplete");
				
			}
			//下啦刷新函数
			$scope.onRefresh=function(classID){
				$scope.classID=classID;
				$http.jsonp("http://datainfo.duapp.com/shopdata/getGoods.php?callback=JSON_CALLBACK",{
					params:{
						"classID":classID,
						linenumber:$scope.lineNumber
					}
				}).success(function(result){
					$scope.goods=result;
				})
				console.log(classID)
				$scope.$broadcast("scroll.refreshComplete")
			}
			$scope.getGoods=function(){
				if(!$scope.goodsType){
					$http.jsonp("http://datainfo.duapp.com/shopdata/getGoods.php?callback=JSON_CALLBACK",{
						params:{linenumber:$scope.lineNumber}
					})
					.success(function(result){
						$scope.goods=result;
						console.log($scope.goods)
					})
				}
			};
			$scope.getGoods();
			$http.get("./local-data/sole-cloth-nav.json")
			.success(function(result){
				$scope.data=result;
//				console.log($scope.data)
			});
			//获取选项栏函数
			$scope.showOptions=function(type){
				if($scope.options==type.options){
					$scope.zhezhao="hide";
					$scope.options="";
					
				}else{
					$scope.options=type.options;
					$scope.showList=true;
					//控制遮罩显示
					$scope.zhezhao="show";
					console.log($scope.options)
				}
				
			}
			//给种类,尺码下面的框绑定单击事件,单击后,使showList为false
			$scope.hideOptions=function(){
				$scope.showList=false;
				$scope.zhezhao="hide";
//				alert($scope.showList)
			}
			//获取商品数据函数
			
		}])
		//女装页面控制器
		.controller("girlCtrl",["$scope","$http",function($scope,$http){
			$scope.data={};
			$scope.options=[];
			//显示出来的商品数据
			$scope.goods={};
			//控制选项框是否显示
			$scope.showList=false;
			//控制遮罩层是否显示
			$scope.zhezhao="hide";
			//获取商品信息
			$scope.goodsType="";
			//设置一个变量,用来控制每组需要显示的条目
			$scope.lineNumber=5;
			//设置一个变量，接收classID
			$scope.classID="";
			//设置一个变量,用来决定是否去掉上拉刷新模块,在没有数据之后,去掉该模块
			$scope.showInfiniteScroll=true;
			//上拉加载函数
			$scope.onInfinite=function(){
				$scope.pageCode+=1;
				$http.jsonp("http://datainfo.duapp.com/shopdata/getGoods.php?callback=JSON_CALLBACK",{
					params:{
						"classID":$scope.classID,
						'pageCode':$scope.pageCode,
						linenumber:$scope.lineNumber
					}
				}).success(function(result){
					if(result!=0){
						$scope.goods=$scope.goods.concat(result);
					}else if(result==0){
						$scope.showInfiniteScroll=false;
					}
				})
				$scope.$broadcast("scroll.infiniteScrollComplete");
				
			}
			//下啦刷新函数
			$scope.onRefresh=function(classID){
				$scope.classID=classID;
				$http.jsonp("http://datainfo.duapp.com/shopdata/getGoods.php?callback=JSON_CALLBACK",{
					params:{
						"classID":classID,
						linenumber:$scope.lineNumber
					}
				}).success(function(result){
					$scope.goods=result;
				})
				console.log(classID)
				$scope.$broadcast("scroll.refreshComplete")
			}
			$scope.getGoods=function(){
				if(!$scope.goodsType){
					$http.jsonp("http://datainfo.duapp.com/shopdata/getGoods.php?callback=JSON_CALLBACK",{
						params:{linenumber:$scope.lineNumber}
					})
					.success(function(result){
						$scope.goods=result;
						console.log($scope.goods)
					})
				}
			};
			$scope.getGoods();
			$http.get("./local-data/sole-cloth-nav.json")
			.success(function(result){
				$scope.data=result;
//				console.log($scope.data)
			});
			//获取选项栏函数
			$scope.showOptions=function(type){
				if($scope.options==type.options){
					$scope.zhezhao="hide";
					$scope.options="";
				}else{
					$scope.options=type.options;
					$scope.showList=true;
					//控制遮罩显示
					$scope.zhezhao="show";
					console.log($scope.options)
				}
			}
			//给种类,尺码下面的框绑定单击事件,单击后,使showList为false
			$scope.hideOptions=function(){
				$scope.showList=false;
				$scope.zhezhao="hide";
//				alert($scope.showList)
			}
			//获取商品数据函数
			
		}])
		//推荐页控制器
		.controller("recoCtrl",["$scope","$http","$timeout",function($scope,$http,$timeout){
			$scope.doRefresh=function(){
				alert("下拉刷新")
				$scope.$broadcast("scroll.refreshComplete")
			}
			$scope.fresh=function(){
				alert("上拉加载")
				$timeout(function(){
					$scope.$broadcast('scroll.infiniteScrollComplete')
					
				},4000)

			}
			$scope.items=[
				{
					id:"scroll0",
					name:"刘灿",
					img:"./img/item1.gif",
					goods:[
						{
							img:"./img/item1-good.gif",
							name:"ocdddly",
							price:"499",
							cost:"0.104"
						},{
							img:"./img/item1-good.gif",
							name:"o沙子irly",
							price:"499",
							cost:"0.104"
						},{
							img:"./img/item1-good.gif",
							name:"oc濑亚ly",
							price:"499",
							cost:"0.104"
						},{
							img:"./img/item1-good.gif",
							name:"ochirly",
							price:"499",
							cost:"0.104"
						}
					]
				},{
					id:"scroll1",
					name:"刘灿",
					img:"./img/item1.gif",
					goods:[
						{
							img:"./img/item1-good.gif",
							name:"liucan",
							price:"499",
							cost:"0.104"
						},{
							img:"./img/item1-good.gif",
							name:"liucan",
							price:"499",
							cost:"0.104"
						},{
							img:"./img/item1-good.gif",
							name:"liucan",
							price:"499",
							cost:"0.104"
						},{
							img:"./img/item1-good.gif",
							name:"liucan",
							price:"499",
							cost:"0.104"
						}
					]
				},{
					id:"scroll2",
					name:"刘灿",
					img:"./img/item1.gif",
					goods:[
						{
							img:"./img/item1-good.gif",
							name:"ochirly",
							price:"499",
							cost:"0.104"
						},{
							img:"./img/item1-good.gif",
							name:"ochirly",
							price:"499",
							cost:"0.104"
						},{
							img:"./img/item1-good.gif",
							name:"ochirly",
							price:"499",
							cost:"0.104"
						},{
							img:"./img/item1-good.gif",
							name:"ochirly",
							price:"499",
							cost:"0.104"
						}
					]
				},{
					id:"scroll3",
					name:"刘灿",
					img:"./img/item1.gif",
					goods:[
						{
							img:"./img/item1-good.gif",
							name:"ochirly",
							price:"499",
							cost:"0.104"
						},{
							img:"./img/item1-good.gif",
							name:"ochirly",
							price:"499",
							cost:"0.104"
						},{
							img:"./img/item1-good.gif",
							name:"ochirly",
							price:"499",
							cost:"0.104"
						},{
							img:"./img/item1-good.gif",
							name:"ochirly",
							price:"499",
							cost:"0.104"
						}
					]
				}
			];
			
		}])
		//首页大图下面的滑动图
		.directive("swiper",function(){
			return{
				templateUrl:"./templates/swiper-nav.html",
				controller:function($scope){
					//由于每次$scope.swiper都是第一个swiper,所以只好每次都重新调用一下重新对$scope.swiper进行赋值
					
					$scope.update=function(){
						//设置一个参数execed,防止update多次执行,一开始,它未定义,所以可以执行一次,执行之后定义execed为true,就不会再执行了
						if(!$scope.execed){
							$scope.execed = true;
							console.log("CCCCCCCCCCCCCc");
							$scope.createS()
							console.log($scope.swiper);
							$scope.swiper.forEach(function(item){
								item.update();
							});
						}
						
//						debugger;
					}
				},
				link:function(scope){
					console.log(scope);
					scope.createS=function(){
						//if(I >= 11){
//							console.log('AAAAAAAAAAA');
							scope.swiper=new Swiper(".swiper-container", {
						        pagination: '.swiper-pagination',
						        slidesPerView: 3,
						        spaceBetween: 0,
						        freeMode: true
						    });
						    
//						    console.log('TYPE:');
							
						//}
						//I++;
						//console.log('BBBBBBBBBB');
						//console.log(I);
					}
					
				}
			}
		})
		
	</script>
</html>