<ion-view view-title="classify">
	<ion-content>
		<ion-list>
			<ion-item class=".item item-button-right " ng-repeat="item in list">
				<button class="button icon icon-right ion-home">dianwo</button>
				<p>{{item.name}}</p>
			</ion-item>
			<div class="item item-input">
				<label for="" class="input-label">
					<input type="text" class="positive-bg" placeholder="请输入用户名"/>
				</label>
			</div>
		</ion-list>
		<button class="button icon icon-right ion-home">dianwo</button>
	</ion-content>
</ion-view>