<!--<style>
	.slider-slides{
		width: 100%!important;
	}
</style>-->
<ion-view view-title="搜索主页">
	<ion-content >
		<ion-slide-box 
			slide-interval="2000" 
			auto-play="true" 
			does-continue="true" 
			show-pager=false
		>
		
			<ion-slide  ng-repeat="banner in banners">
				<img ng-src="{{banner}}" alt="banner图" style="width:100%; height:130px;" />
				{{update($index)}}
			</ion-slide>
		
		</ion-slide-box>
		<ion-list >
			<ion-item class="item item-thumbnail-left"
				 ng-repeat="item in list ">
				<img ng-src="{{item.goodsListImg}}" alt="" />
				<h3>{{item.goodsName}}</h3>
				<p>price:{{item.price|currency:"￥"}}</p>
				<p>折扣:{{item.discount}}</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>