<ion-tabs class="tabs-icon-top">
	<ion-tab title="首页" icon-on="ion-ios-pulse" icon-off="ion-ios-pulse-strong" href="#/page/info">
		<ion-nav-view name="infos"></ion-nav-view>
	</ion-tab>
	<ion-tab title="分类" icon-on="ion-ios-pulse" icon-off="ion-ios-pulse-strong" href="#/page/classify">
		<ion-nav-view name="classify"></ion-nav-view>
	</ion-tab>
	<ion-tab title="购物车" icon="ion-ios-filing"  href="#/page/shopping-car">
		<ion-nav-view name="shopping-car"></ion-nav-view>
	</ion-tab>
	<ion-tab title="我的秀" icon="ion-ios-clock"  href="#/page/my-show">
		<ion-nav-view name="my-show"></ion-nav-view>
	</ion-tab>
	<ion-tab title="更多" icon="ion-ios-gear"  href="#/page/more">
		<ion-nav-view name="more"></ion-nav-view>
	</ion-tab>
</ion-tabs>
