<ion-view hide-nav-bar="true">
	<ion-slide-box style="width: 100%; height: 100%;">
		
		<ion-slide>
			<img src="./img/2.jpg" alt="" style="width:100%; height:100%;" />
		</ion-slide>
		<ion-slide>
			<img src="./img/3.jpg" alt="" style="width:100%; height:100%;" />
		</ion-slide>
		<ion-slide>
			<img src="./img/4.jpg" alt="" style="width:100%; height:100%;" />
		</ion-slide>
		<ion-slide>
			<img src="./img/5.jpg" alt="" style="width:100%; height:100%;" />
		</ion-slide>
		<ion-slide>
			<img src="./img/6.jpg" alt="" style="width:100%; height:100%;" />
			<button class="button button-positive" style=" position: absolute; bottom: 15%; left: 40%;" ng-click="goHome()">开始体验</button>
		</ion-slide>
	</ion-slide-box>
</ion-view>