<div class="swiper-container">
    <div class="swiper-wrapper">
    	
        <div class="swiper-slide" ng-repeat="good in item.goods">
        	<img alt="商品图片" style="width: 100px; height: 100px;" ng-src="{{good.img}}" />
	    	<h6>{{good.name}}</h6>
	    	<p style="color: red;">{{(good.price*good.cost)|currency:"￥"}} <span style="color: #555555; text-decoration: line-through;">{{good.price|currency:"￥"}}</span></p>
        </div>
    </div>

    <!-- Add Pagination -->
    <!--<div class="swiper-pagination"></div>-->
</div>
 <div style="display: none;">{{update()}}</div>
